* {
  font-family: Arial, Helvetica, sans-serif;
}

.row{
  margin-top: 40px;
}

h1{
  padding: 10px;
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 50px;
}
p {
  font-family: Avanta Garde;
  font-size: 25px;
  color: gray;
  letter-spacing: 2px;
}
span{
  font-size: 21px;
}
.navbar {
  --bs-navbar-hover-color:#c7d3ff;
  --bs-navbar-active-color:#c17a74;
}

.cart-border {
  font-size: 1.6rem;
  display: grid;
  place-items: center;
  min-height: 200px;
  border: 8px solid;
  padding: 1rem;
}

.cart-border-sides-2 {
  border-image: linear-gradient(to bottom, rgb(0, 0, 0), rgb(209, 156, 151)) 0 1;
}

.services:hover {
  cursor: pointer;
  box-shadow: 0px 0px 10px 4px #a6a5a5;
}
.card-img-top {
  height: 300px;
  object-fit: fill;
}
a {
  color: #d19c97;
  text-decoration: none;
  background-color: transparent;
}

img {
  vertical-align: middle;
  border-style: none;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.5;
  color: black;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #edf1ff;
  border-radius: 0;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #495057;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #f8f0ef;
  outline: 0;
  box-shadow: none;
}

.form-group {
  margin-bottom: 1rem;
}

.btn-primary {
  color: #212529;
  background-color: #d19c97;
  border-color: #d19c97;
}

.btn-primary:hover {
  color: #fff;
  background-color: #c5837c;
  border-color: #c17a74;
}

.btn-primary:focus,
.btn-primary.focus {
  color: #fff;
  background-color: #c5837c;
  border-color: #c17a74;
  box-shadow: 0 0 0 0.2rem rgba(183, 138, 135, 0.5);
}

.btn-secondary {
  color: #212529;
  background-color: #edf1ff;
  border-color: #edf1ff;
}

.btn-secondary:hover {
  color: #212529;
  background-color: #c7d3ff;
  border-color: #bac9ff;
}

.btn-secondary:focus,
.btn-secondary.focus {
  color: #212529;
  background-color: #c7d3ff;
  border-color: #bac9ff;
  box-shadow: 0 0 0 0.2rem rgba(206, 210, 223, 0.5);
}

.border-primary {
  border: 2px solid #c17a74 !important;
}
.text-primary {
  color: #c17a74 !important;
}
.border-secondary {
  border: 1px solid #c7d3ff !important;
}
.bg-secondary {
  background-color: #c7cde3 !important;
}
.text-secondary {
  color: #c7d3ff;
}

.fade {
  transition: opacity 0.15s linear;
}

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.mr-n5,
.mx-n5 {
  margin-right: -3rem !important;
}

.mr-auto,
.mx-auto {
  margin-right: auto !important;
}

.ml-auto,
.mx-auto {
  margin-left: auto !important;
}


.nav-link {
  color: antiquewhite;
  font-size: xx-large;
  font-weight: 400;
}
label {
  font-size: 26px;
}
input {
  color: aquamarine;
  
}
._1yCVn {
  z-index: 1;
}
._2qp0Z {
  z-index: 1;
}
#project-stroke {
  position: absolute;
  top: -50px;
  width: 100%;
  z-index: -1;
}

.heading {
  margin: 80px 0px;
  position: relative;
}

.spin {
  width: 100%;
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading {
  width: 100px;
  height: 100px;
  animation: loading 1s infinite;
}

@keyframes loading {
  0% {
    transform: perspective(120px) rotateY(0deg);
  }

  25% {
    transform: perspective(120px) rotateY(90deg);
  }

  50% {
    transform: perspective(120px) rotateY(180deg);
  }

  75% {
    transform: perspective(120px) rotateY(270deg);
  }

  100% {
    transform: perspective(120px) rotateY(360deg);
  }
}

.values-about-us img {
  border-radius: 50%;
  margin: 10px 0px;
  width: 100%;
  height: auto;
  border: 2px solid rgb(209, 156, 151);
  padding: 12px;
  outline-offset: -16px;
  background-color: rgb(249, 248, 245);

}
.values-about-us img:hover {
  outline: 2px solid rgb(209, 156, 151);
  background-color: rgb(231, 224, 215);
}
.values-about-us h1 {
  font-weight: bolder;
  
  color: rgb(209, 156, 151);
  text-align: center;
  margin: 30px;
}
.values-about-us h2 {
  font-weight: bolder;
  color: rgb(209, 156, 151);
  text-align: center;
}
.our-values-about-us{
	position: relative;
}
.our-values-about-us .about-us{
	position: absolute;
	top: 30%;
bottom: 50%;
left: 10%;
}
.about-us h1{
	color: white;
	font-weight: 700;
	font-size: 70px;
}


.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

/* .nav {
  padding: 10px;
} */
.dropdown-item{
  font-size: 23px;
  text-align: center;
}
